label {
    font-family: "bold";
    font-size: 16px;
}
.content {
    text-align: initial;
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
    display: none;
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after{
    display: none;
}
.ant-modal-content{
    border-radius: 10px;
}
.ant-modal-header{
    border-radius: 10px 10px 0 0;
}
.ant-modal-body{
    padding-bottom: 0;
}
.ant-modal-footer{
    border-top: none;
    padding: 0 35px 35px 0;
}
.ant-modal-title{
    font: 1.5em Sans-serif;
    font-weight: bold;
    color: #cf2338;
}
.buttonCancelChangePassword{
    display: inline-block !important;
    color: black !important;
    border-radius: 4px !important;
    width: 60px !important;
    border: 1.75px solid gray !important;
    text-align: center !important;
    margin-right: 10px ;
    padding: 2px !important;
}
.buttonSaveChangePassword{
    background-color: #e30c18 !important;
    color: aliceblue !important;
    border-radius: 4px !important;
    border-color: aliceblue !important;
    width: 60px !important;
    text-align: center !important;
    margin-right: 10px !important;
    padding: 2px !important;
}
.buttonSaveChangePassword1st{
    background-color: #e30c18 !important;
    color: aliceblue !important;
    border-radius: 4px !important;
    border-color: aliceblue !important;
    width: 60px !important;
    text-align: center !important;
    margin-right: 10px !important;
    padding: 2px !important;
}

.buttonCancel {
    display: inline-block !important;
    color: black !important;
    border-radius: 4px !important;
    width: 60px !important;
    border: 1.75px solid gray !important;
    text-align: center !important;
    margin-right: 10px ;
    padding: 2px !important;

}

.inputForm {
    border-radius: 4px !important;
    /* border: 2px solid red !important; */
}
.buttonState {
    border: none ! important;
    background: transparent !important;
    padding: 0 !important;
}

.formChangePassword .ant-form-item{
    /* margin-bottom: 0; */
}

#titleChangePassword1st{
    font-family: sans-serif;
    font-size: 16px !important;
    margin-left: 5px;
    margin-bottom: 20px;
}
/* #errorInvalidPassword{
    margin-top: -10px !important;
} */